* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  width: 85%;
  max-width: 1200px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.left {
  width: 100%;
  background: #FFF8E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.left .logo {
  width: 140px;
  margin-bottom: 20px;
}

.left h1 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.right {
  width: 50%;
  background: #8BC9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform {
  width: 75%;
  text-align: center;
}

.loginform h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loginform input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.loginbtn {
  display: block;
  width: 100%;
  padding: 14px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.loginbtn:hover {
  background: #333;
}

.forgot {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  opacity: 0.7;
}

.forgot:hover {
  opacity: 1;
}